.blank {
  width: 100%;
  height: 50vh;
  background-color: rgb(110, 95, 95);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand {
  font-family: "Patrick Hand", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 3%;
}
.kin {
  color: blue;
}
.der {
  color: crimson;
}
.gar {
  color: rgb(84, 245, 9);
}
.ten {
  color: rgb(246, 109, 17);
}
.btn {
  padding: 5px 5px;
}
.collaps {
  margin-right: 2vw;
}
.nav-item {
  margin-right: 20px;
}
.d-flex {
  margin-right: 5%;
}
/* title banner */
.banner {
  width: 100%;
  height: 100vh;
  background-image: url("images/study.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  width: 80%;
  height: 70%;
  margin-bottom: 50px;
}
.description {
  width: 60%;
  height: 100%;

  border-radius: 50px;
  padding: 20px 20px 0 20px;
  border: 5px solid blueviolet;
}
.every-child {
  font-family: "Patrick Hand", cursive;
}
.title-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.coma {
  font-size: 25px;
}
/* welcome section */
.welcome {
  width: 100%;
  height: 150vh;
  background-color: #f7f2f6;

  display: flex;
  justify-content: center;
  align-items: center;
}
.wlcm-container {
  width: 80%;
  height: 100%;
}
.wlcm-head {
  text-align: center;
  font-size: 27px;
}
.wlcm-description {
  text-align: center;
  font-size: 18px;
}
.wlcm-feature-desc {
  width: 100%;
  height: 30%;
}

/* media queries */
/* laptop mode */ /* laptop mode */ /* laptop mode */ /* laptop mode */ /* laptop mode */ /* laptop mode */
@media only screen and (max-width: 1500px) {
  .description {
    width: 50%;
    height: 80%;
    background-color: rgb(246, 246, 246);
    border-radius: 30px;
    padding: 50px 50px 0 50px;
  }
  span.every-child {
    display: block;
    font-family: "Patrick Hand", cursive;
    font-size: 45px;
    color: #fbce0f;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .description h1 {
    font-size: 40px;
    color: #423f8d;
    font-family: "Patrick Hand", cursive;
    font-weight: 800;
  }
  .explore {
    text-decoration: none;
    color: #fff;
    background-color: #ed078b;
    padding: 12px;
    border-radius: 35px;
    font-family: concert one, cursive;
  }

  .welcome {
    width: 100%;
    height: 115vh;
    background-color: #f7f2f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wlcm-container {
    width: 90%;
    height: 100%;
    padding-top: 5%;
  }
  .wlcm-head {
    font-family: fredoka one, cursive;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 15px;
    color: rgb(49, 78, 110);
    display: block;
  }
  .wlcm-head span {
    font-family: fredoka one, cursive;
    font-size: 42px;
    display: inline-block;
    color: rgb(204, 38, 67);
  }
  .wlcm-feature {
    margin-top: 05%;
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .wlcm-container p {
    font-family: dm sans, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
  }
  .wlcm-feature-desc {
    width: 45%;
    height: 100%;
  }
  .fetr {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 28% 70%;
    grid-column-gap: 4px;
    grid-template-rows: 100%;
  }
  .fetr-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fetr-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wlcm-feature-img {
    width: 45%;
    height: 100%;
    background-image: url("images/children-studying.jpg");
    background-position: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
  }
  /* feature section descriptions */
  .wlcm-feature-desc {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .fetr {
    width: 100%;
    height: 90%;
  }
  /* classes offered section*/
  .cllasses-offered {
    width: 100%;
    height: 206vh;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: auto;
  }
  .cls-offer-container {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /* main box-1 heading and para */
  .cls-we-ofr {
    width: 100%;
    height: 25%;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .cls-we-ofr h2 {
    font-family: "Fredoka One", cursive;
    font-weight: 900;
    color: #423f8d;
  }

  .cls-we-ofr p {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    line-height: 30px;
    font-size: 18px;
    color: #423f8d;
  }
  /* main box 2 sliders */
  .cls-dtls-sliders {
    width: 100%;
    height: 50%;
    border-radius: 30px;
    overflow: hidden;
  }
  .carousel-inner {
    width: 100%;
    height: 100%;
  }
  .sldr {
    width: 100%;
    height: 100%;
    background-color: #f7f2f6;
  }
  .sldr-desc-box {
    width: 100%;
    height: 54%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sldr-desc-box hr {
    width: 100%;
    height: 2px;
    color: #8b898b;
  }
  .sldr h2 {
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  .sldr p {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  .age-cls-tm {
    width: 90%;
    height: 55%;
    display: flex;
    flex: 2fr 1fr 2fr;
    justify-content: center;
  }
  .age h2 {
    color: rgb(144, 5, 28);
  }
  .nof-classes h2 {
    color: blue;
  }
  .price h2 {
    color: rgba(235, 235, 1, 0.89);
  }
  .more-cls {
    width: 90%;
    height: 10%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* more classes link */
  .more-cls button {
    /* display: block; */
    background-color: rgb(245, 80, 204);
    width: 60%;
    height: 60%;
    border: none;
    font-family: "Fredoka One", cursive;
    font-size: 28px;
  }
  .d-block {
    width: 100%;
    height: 50%;
  }
  /* event timer section-laptop*/ /* event timer section-laptop*/ /* event timer section-laptop*/
  .event-timer {
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* countdown-main-box 1*/
  .event-box {
    width: 35%;
    height: 75%;
    border-radius: 35px;
    background-color: rgb(223, 227, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* event details box */
  .event-details {
    width: 70%;
    height: 60%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0px 15px 30px 15px;
  }
  /* event-description */
  span.event-span {
    display: block;
    width: auto;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
  }
  h2.event-name {
    font-size: 2.5rem;
  }
  p.event-desc {
    text-align: center;
  }
  /* countdown box */
  .countdown {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .timer-item {
    width: 22%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: 2px solid rgb(224, 15, 162);
    padding: 5px;
    border-radius: 5px;
  }
  /* countdown timer inner content */
  .timer-item span {
    display: block;
    margin-top: 13px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(243, 13, 13);
  }
  /* expert teacher  */ /* expert teacher  */ /* expert teacher*/
  .expert-teachers {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exprt-main-box {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .exprt-tchr-desc {
    margin-top: 10px;
    width: 90%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .exprt-tchr-desc h2 {
    font-size: 45px;
    font-family: "Fredoka One", cursive;
    font-weight: bolder;
    color: #423f8d;
  }
  .exprt-tchr-desc p {
    width: 90%;
    text-align: center;
    font-size: 28px;
    font-family: "DM Sans", sans-serif;
    color: #423f8d;
  }
  .exprt-tchr-profile {
    width: 90%;
    height: 50%;
    margin-bottom: 10px;
  }

  .mySlides {
    display: block;
  }
  .all_teachers {
    display: block;
  }
  /* review section */ /* review section */ /* review section */
  .review {
    width: 100%;
    height: 80vh;
    background-image: url("images/testimonials2.jpg");
    /* background-position: center; */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review-main-box {
    position: relative;
    top: 50px;
    width: 95%;
    height: 60%;
  }
  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner {
    width: 95%;
    height: 95%;
  }
  .ca-item-1 {
    width: 100%;
    height: 100%;
  }
  .ca-item-2 {
    width: 100%;
    height: 100%;
  }
  .ca-item-3 {
    width: 100%;
    height: 100%;
  }
  .carousel-inner p {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
  }
  .quote-giver {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: "DM Sans", sans-serif;
  }
  .quote {
    margin-top: 100px;
  }
  /* footer section */ /* footer section */ /* footer section */
  .footer {
    width: 100%;
    height: 80vh;
    background-color: #02040ae8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-main-box {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
  }

  /* box-1 */ /* box-1 */

  .kindergarten-about-footer {
    width: 40%;
    height: 40%;
  }
  .quick-links {
    width: 25%;
  }
  .about-us-footer {
    width: 25%;
    height: 100%;
  }
  /* .about-us-footer p {
    width: 92%;
    padding-left: 5px;
    font-size: 35px;
  } */
  .social-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }
  .social-item {
    color: white;
    font-size: 2rem;
    font-weight: 900;
    width: 20%;
    border-radius: 30%;
    text-align: center;
    margin-right: 10px;
  }
  .social-item:hover {
    background-color: rgba(163, 146, 146, 0.418);
  }
  .paragraph-about {
    font-size: 1rem;
    color: white;
    padding-left: 10px;
  }
  .kindergarten-about-footer .navbar-brand {
    font-size: 2.5rem;
  }

  /* box-2 qiuck links */ /* box-2 qiuck links */
  .quick-links-footer,
  .about-us-footer h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: "Fredoka One", cursive;
  }
  .quick-links a,
  .about-us-footer a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-top: 08px;
    font-size: 1rem;
    font-family: "Fredoka One", cursive;
  }
  /* .quick-links{
      padding-left: 40px;
    } */
    /* .about-us-footer{
      padding-left: 20px;
    } */
    .quick-links a:hover,
  .about-us-footer a:hover{
    color: rgba(87, 84, 84, 0.719);
  }
}

/* tablet mode */ /* tablet mode */ /* tablet mode */ /* tablet mode */ /* tablet mode */ /* tablet mode */
@media only screen and (max-width: 1050px) {
  .description {
    width: 70%;
    height: 100%;
    background-color: rgb(246, 246, 246);
    border-radius: 30px;
  }
  span.every-child {
    display: block;
    font-family: "Patrick Hand", cursive;
    font-size: 38px;
    color: #fbce0f;
    margin-bottom: 30px;
  }
  .description h1 {
    font-size: 58px;
    color: #423f8d;
    font-family: "Patrick Hand", cursive;
  }
  .explore {
    text-decoration: none;
    color: #fff;
    background-color: #ed078b;
    padding: 12px;
    border-radius: 35px;
    font-family: concert one, cursive;
  }
  .title {
    width: 80%;
    height: 36%;
    margin-bottom: 50px;
  }
  .welcome {
    width: 100%;
    height: 150vh;
    background-color: #f7f2f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wlcm-container {
    height: 100%;
  }
  .wlcm-head {
    font-family: fredoka one, cursive;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 15px;
    color: rgb(49, 78, 110);
    display: block;
  }
  .wlcm-head span {
    font-family: fredoka one, cursive;
    font-size: 42px;
    display: inline-block;
    color: rgb(204, 38, 67);
  }
  .wlcm-feature {
    margin-top: 10%;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .wlcm-container p {
    font-family: dm sans, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
  }
  .wlcm-feature-desc {
    width: 80%;
    height: 45%;
  }
  .wlcm-feature-img {
    width: 80%;
    height: 35%;
    background-image: url("images/children-studying.jpg");
    background-position: center;
    background-size: cover;
  }
  /* feature section descriptions */
  .wlcm-feature-desc {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .fetr {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 28% 70%;
    grid-column-gap: 4px;
    grid-template-rows: 100%;
  }
  .fetr-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fetr-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* classes we offer section */
  /* classes offered section*/
  .cllasses-offered {
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
    margin-top: 25%;
    margin-bottom: auto;
  }
  .cls-offer-container {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /* main box-1 heading and para */
  .cls-we-ofr {
    width: 100%;
    height: 25%;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .cls-we-ofr h2 {
    font-family: "Fredoka One", cursive;
    font-weight: 900;
    color: #423f8d;
  }

  .cls-we-ofr p {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    line-height: 30px;
    font-size: 18px;
    color: #423f8d;
  }
  /* main box 2 sliders */
  .cls-dtls-sliders {
    width: 100%;
    height: 50%;
    border-radius: 30px;
    overflow: hidden;
  }
  .carousel-inner {
    width: 100%;
    height: 100%;
  }
  .sldr {
    width: 100%;
    height: 100%;
    background-color: #f7f2f6;
  }
  .sldr-desc-box {
    width: 100%;
    height: 54%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sldr-desc-box hr {
    width: 100%;
    height: 2px;
    color: #8b898b;
  }
  .sldr h2 {
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  .sldr p {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  .age-cls-tm {
    width: 90%;
    height: 55%;
    display: flex;
    flex: 2fr 1fr 2fr;
    justify-content: center;
  }
  .age h2 {
    color: rgb(144, 5, 28);
  }
  .nof-classes h2 {
    color: blue;
  }
  .price h2 {
    color: rgba(235, 235, 1, 0.89);
  }
  .more-cls {
    width: 90%;
    height: 10%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* more classes link */
  .more-cls button {
    /* display: block; */
    background-color: rgb(245, 80, 204);
    width: 60%;
    height: 60%;
    border: none;
    font-family: "Fredoka One", cursive;
    font-size: 28px;
  }
  /* event timer section-tablet*/ /* event timer section-tablet*/
  .event-timer {
    width: 100%;
    height: 70vh;
    background-color: rgb(241, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* countdown-main-box 1*/
  .event-box {
    width: 60%;
    height: 76%;
    border-radius: 35px;
    background-color: rgb(223, 227, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* event details box */
  .event-details {
    width: 80%;
    height: 60%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0px 30px 40px 30px;
  }
  /* event-description */
  span.event-span {
    display: block;
    width: auto;
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
  }
  h2.event-name {
    font-size: 2.5rem;
  }
  p.event-desc {
    text-align: center;
  }
  /* countdown box */
  .countdown {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .timer-item {
    width: 22%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: 1px solid rgb(224, 15, 162);
    padding: 2px;
  }
  /* countdown timer inner content */
  .timer-item span {
    display: block;
    margin-top: 13px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(224, 15, 162);
  }
  /* expert teacher  */ /* expert teacher  */ /* expert teacher*/
  .expert-teachers {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exprt-main-box {
    width: 71%;
    height: 76%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .exprt-tchr-desc {
    margin-top: 10px;
    width: 90%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .exprt-tchr-desc h2 {
    font-size: 40px;
    font-family: "Fredoka One", cursive;
    font-weight: bolder;
    color: #423f8d;
  }
  .exprt-tchr-desc p {
    width: 90%;
    text-align: center;
    font-size: 25px;
    font-family: "DM Sans", sans-serif;
    color: #423f8d;
  }
  .exprt-tchr-profile {
    width: 90%;
    height: 55%;
    margin-bottom: 10px;
  }
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .actives,
  .dot:hover {
    background-color: #db1515;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .mySlides img {
    width: 100px;
    height: 605px;
  }
  .all_teachers {
    display: none;
  }
  .review {
    width: 100%;
    height: 60vh;
    background-image: url("images/testimonials2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review-main-box {
    position: relative;
    top: 50px;
    width: 95%;
    height: 60%;
  }
  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner {
    width: 95%;
    height: 95%;
  }
  .ca-item-1 {
    width: 100%;
    height: 100%;
  }
  .ca-item-2 {
    width: 100%;
    height: 100%;
  }
  .ca-item-3 {
    width: 100%;
    height: 100%;
  }
  .carousel-inner p {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
  }
  .quote-giver {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
  }
  /* review section */ /* review section */ /* review section */
  .review {
    width: 100%;
    height: 60vh;
    background-image: url("images/testimonials2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review-main-box {
    position: relative;
    top: 50px;
    width: 95%;
    height: 60%;
  }
  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner {
    width: 95%;
    height: 95%;
  }
  .ca-item-1 {
    width: 100%;
    height: 100%;
  }
  .ca-item-2 {
    width: 100%;
    height: 100%;
  }
  .ca-item-3 {
    width: 100%;
    height: 100%;
  }
  .carousel-inner p {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
  }
  .quote-giver {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: "DM Sans", sans-serif;
  }
  /* footer section */ /* footer section */ /* footer section */
  .footer {
    width: 100%;
    height: 50vh;
    background-color: #02040ae8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-main-box {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
  }

  /* box-1 */ /* box-1 */

  .kindergarten-about-footer {
    width: 40%;
    height: 40%;
  }
  .quick-links {
    width: 25%;
  }
  .about-us-footer {
    width: 25%;
    height: 100%;
  }
  .about-us-footer p {
    width: 92%;
    padding-left: 5px;
    font-size: 35px;
  }
  .social-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }
  .social-item {
    color: white;
    font-size: 2rem;
    font-weight: 900;
    width: 20%;
    border-radius: 30%;
    text-align: center;
    margin-right: 10px;
  }
  .social-item:hover {
    background-color: rgba(163, 146, 146, 0.418);
  }
  .paragraph-about {
    font-size: 1.5rem;
    color: white;
    padding-left: 10px;
  }
  .kindergarten-about-footer .navbar-brand {
    font-size: 2.5rem;
  }

  /* box-2 qiuck links */ /* box-2 qiuck links */
  .quick-links-footer,
  .about-us-footer h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: "Fredoka One", cursive;
  }
  .quick-links a,
  .about-us-footer a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-top: 08px;
    font-size: 1.2rem;
    font-family: "Fredoka One", cursive;
  }
  /* .quick-links{
      padding-left: 40px;
    }
    .about-us-footer{
      padding-left: 20px;
    } */
    .about-author{
      width: 100%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color:#1d1d22dc;
    }
    .about-author-main{
      width: 60%;
      height: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      color: white;
    }
    .profile-image{
      width: 30%;
      height: 100%;
      margin-right: 20px;
    }
    .profile-image img{
      display: block;
      width: 100%;
      height: auto;
    }
}

/* mobile phone mode */ /* mobile phone mode */ /* mobile phone mode */ /* mobile phone mode */ /* mobile phone mode */
@media only screen and (max-width: 500px) {
  .navbar {
    width: 100%;
    position: fixed;
  }
  .title {
    margin-bottom: 30px;
    width: 80%;
    height: 60%;
  }
  .description {
    width: 100%;
    height: 90%;
    background-color: rgb(246, 246, 246);
    border-radius: 30px;
  }
  span.every-child {
    display: block;
    font-family: "Patrick Hand", cursive;
    font-size: 27px;
    color: #fbce0f;
    margin-bottom: 30px;
  }
  .description h1 {
    font-size: 48px;
    color: #423f8d;
    font-family: "Patrick Hand", cursive;
  }
  .explore {
    text-decoration: none;
    color: #fff;
    background-color: #ed078b;
    padding: 10px;
    border-radius: 30px;
    font-family: concert one, cursive;
  }
  .welcome {
    width: 100%;
    height: 150vh;
    background-color: #f7f2f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wlcm-head {
    font-family: fredoka one, cursive;
    font-size: 37px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 15px;
    color: rgb(49, 78, 110);
    display: block;
  }
  .wlcm-head span {
    font-family: fredoka one, cursive;
    font-size: 37px;
    display: inline-block;
    color: rgb(204, 38, 67);
  }
  .wlcm-feature {
    margin-top: 10%;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .wlcm-container {
    height: 90%;
    padding-top: 5%;
  }
  .wlcm-container p {
    font-family: dm sans, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
  }
  .wlcm-feature-desc {
    width: 100%;
    height: 45%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .wlcm-feature-img {
    width: 100%;
    height: 30%;
    background-image: url("images/children-studying.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    text-indent: -100px;
  }
  /* feature section descriptions */
  .wlcm-feature-desc {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .fetr {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 28% 70%;
    grid-column-gap: 4px;
    grid-template-rows: 100%;
  }

  .fetr img {
    width: 80%;
    height: 80%;
  }
  .fetr-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* classes offered section*/
  .cllasses-offered {
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
    margin-top: 25%;
    margin-bottom: auto;
  }
  .cls-offer-container {
    width: 90%;
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  /* main box-1 heading and para */
  .cls-we-ofr {
    width: 100%;
    height: 25%;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .cls-we-ofr h2 {
    font-family: "Fredoka One", cursive;
    font-weight: 900;
    color: #423f8d;
  }

  .cls-we-ofr p {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    line-height: 30px;
    font-size: 18px;
    color: #423f8d;
  }
  /* main box 2 sliders */
  .cls-dtls-sliders {
    width: 100%;
    height: 50%;
    border-radius: 30px;
    /* overflow: hidden; */
  }
  .carousel-inner {
    width: 100%;
    height: 100%;
  }
  .sldr {
    width: 100%;
    height: 100%;
    background-color: #f7f2f6;
  }
  .sldr-desc-box {
    width: 100%;
    height: 54%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sldr-desc-box hr {
    width: 100%;
    height: 2px;
    color: #8b898b;
  }
  .sldr h2 {
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  .sldr p {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }
  .age-cls-tm {
    width: 90%;
    height: 55%;
    display: flex;
    flex: 2fr 1fr 2fr;
  }
  .age h2 {
    color: rgb(144, 5, 28);
  }
  .nof-classes h2 {
    color: blue;
  }
  .price h2 {
    color: rgba(235, 235, 1, 0.89);
  }
  .more-cls {
    width: 90%;
    height: 10%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* more classes link */
  .more-cls button {
    /* display: block; */
    background-color: rgb(245, 80, 204);
    width: 60%;
    height: 60%;
    border: none;
  }
  /* event timer section-mob*/ /* event timer section-mob*/

  .event-timer {
    width: 100%;
    height: 80vh;
    background-color: rgb(241, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* countdown-main-box 1*/
  .event-box {
    width: 90%;
    height: 70%;
    border-radius: 25px;
    background-color: rgb(223, 227, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* event details box */
  .event-details {
    width: 80%;
    height: 60%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px 10px 30px 10px;
  }
  /* event-description */
  span.event-span {
    display: block;
    width: auto;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 2rem;
  }
  h2.event-name {
    font-size: 2rem;
  }
  p.event-desc {
    text-align: center;
  }
  /* countdown box */
  .countdown {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .timer-item {
    width: 22%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: 1px solid rgb(224, 15, 162);
    padding: 2px;
  }
  /* countdown timer inner content */
  .timer-item span {
    display: block;
    margin-top: 13px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(224, 15, 162);
  }
  /* expert teacher  */ /* expert teacher  */ /* expert teacher*/
  .expert-teachers {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exprt-main-box {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .exprt-tchr-desc {
    margin-top: 10px;
    width: 90%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .exprt-tchr-desc h2 {
    font-size: 35px;
    font-family: "Fredoka One", cursive;
    font-weight: bolder;
    color: #423f8d;
  }
  .exprt-tchr-desc p {
    width: 90%;
    text-align: center;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    color: #423f8d;
  }
  .exprt-tchr-profile {
    width: 90%;
    height: 55%;
    margin-bottom: 10px;
  }
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
    border-radius: 30px;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .actives,
  .dot:hover {
    background-color: #db1515;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .mySlides img {
    width: 300px;
    height: 400px;
  }
  /* .exprt-tchr-profile{
      display: none;
    } */
  .all_teachers {
    display: none;
  }
  .techer-name {
    position: absolute;
    bottom: 0px;
    left: 50%;
  }
  /* review section or testimonials*/ /* review section or testimonials*/
  .review {
    width: 100%;
    height: 60vh;
    background-image: url("images/testimonials2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review-main-box {
    position: relative;
    top: 50px;
    width: 95%;
    height: 60%;
  }
  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner {
    width: 95%;
    height: 95%;
  }
  .ca-item-1 {
    width: 100%;
    height: 100%;
  }
  .ca-item-2 {
    width: 100%;
    height: 100%;
  }
  .ca-item-3 {
    width: 100%;
    height: 100%;
  }
  .carousel-inner p {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
  }
  .quote-giver {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
  }
  /* footer section */ /* footer section */ /* footer section */
  .footer {
    width: 100%;
    height: 140vh;
    background-color: #000000e7;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-main-box {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* box-1 */ /* box-1 */
  .kindergarten-about-footer {
    width: 100%;
    height: 40%;
  }
  .quick-links {
    width: 100%;
  }
  .about-us-footer {
    width: 100%;
    height: 30%;
  }
  .about-us-footer p {
    width: 92%;
    padding-left: 5px;
    font-size: 35px;
  }
  .social-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }
  .social-item {
    font-size: 2rem;
    font-weight: 900;
    width: 20%;
    border-radius: 30%;
    text-align: center;
    margin-right: 10px;
  }
  .social-item:hover {
    background-color: rgba(163, 146, 146, 0.418);
  }
  .paragraph-about {
    font-size: 1.5rem;
    color: white;
  }
  .kindergarten-about-footer .navbar-brand {
    font-size: 2.5rem;
  }
  /* box-2 qiuck links */ /* box-2 qiuck links */
  .quick-links-footer,
  .about-us-footer h2 {
    color: white;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Fredoka One", cursive;
  }
  .quick-links a,
  .about-us-footer a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-top: 08px;
    font-size: 1.2rem;
    font-family: "Fredoka One", cursive;
  }
  .about-author{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#1d1d22dc;
  }
  .about-author-main{
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
    color: white;
  }
  .profile-image{
    width: 30%;
    height: 100%;
    margin-right: 20px;
  }
  .profile-image img{
    display: block;
    width: 100%;
    height: auto;
  }
}

/* @media only screen  and (min-width: 1040px)  {
  #ds-all-teacher{
   display: none;
  }
} */

/* desktop mood of all teachers starts */
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
  .exprt-tchr-profile {
    display: none;
  }
  .all_teachers {
    display: block;
    width: 90%;
    height: 80%;
  }
  .expert-teachers {
    display: flex;
    flex-direction: column;
  }
  .exprt-tchr-desc {
    position: relative;
    top: 200px;
  }
  .all_teacher_mainbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .teacher {
    width: 23%;
    height: 65%;
    display: block;
    border-radius: 25px;
    font-family: "DM Sans", sans-serif;
  }
  .teacher img {
    border-radius: 30px;
  }
  .teacher-name {
    text-align: center;
    color: rgb(67, 10, 199);
    font-size: 1.3rem;
    font-family: "DM Sans", sans-serif;
  }
  .teacher-name span {
    color: rgb(29, 129, 243);
    font-size: 0.9rem;
  }
}
/* desktop mood of all teachers ends */

/* privacy policy *//* privacy policy *//* privacy policy *//* privacy policy *//* privacy policy */
